:root {
    --cor-1:rgb(1, 133, 130);
    --cor-2:rgb(75, 193, 212);
    --cor-3:rgb(22, 245, 216);
}
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-1);
}

#cab {
    align-items: center;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: var(--cor-2);
    height: 8vh;
    padding: 0 20px;
    color: aliceblue;
    box-shadow: rgba(22, 22, 22, 0.374) 0px 7px 29px 0px; 
}

#cab2 img {
    width: 50px;
}

#cab2 ul {
    display: flex;
    padding: 10px;
    align-items: center;
}

#cab2 ul li {
    display: flex;
    list-style-type: none;
    padding: 10px;
}

.vagas {
    flex-direction: column;
    display: flex;
    align-items: center;
    border: 2px solid rgb(246, 229, 47);
    width: 8vw;
    height: 20vh;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(174, 238, 169);
}

.dp-menu ul {
    list-style-type: none;
    background-color: var(--cor-2);
}

.dp-menu ul li {
    display: inline-block;
    position: relative;
}

.dp-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background .3s;
    border-radius: 10px;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-3);
}

/*Sub menu*/
.dp-menu ul ul {
    display: none;
    position: absolute;
    border-radius: 10px;        
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li {
    display: inline;
}

.dp-menu ul ul li a {
    display: block;

}