* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(190, 194, 193);
}

#cab {
    align-items: center;
    display: flex;
    justify-content: space-between;
    display: flex;
    background-color: rgb(95, 156, 241);
    height: 8vh;
    padding: 0 20px;
    color: aliceblue;
    box-shadow: rgba(22, 22, 22, 0.374) 0px 7px 29px 0px;
}

#cab2 img {
    width: 50px;
}

#cab2 ul {
    display: flex;
    padding: 10px;
    align-items: center;
}

#cab2 ul li {
    display: flex;
    list-style-type: none;
    padding: 10px;
}
#cont2{
    width: 100vw;
    height: 60vh;
display: flex;
justify-content: center;
align-items: center;
}
.FormCli{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 50vh;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    background-color: rgb(125, 172, 238);
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.FormCli input{
    width: 300px;
    height: 25px;
    border-radius: 8px;
}
.FormCli p{
    padding: 20px;
}
.FormCli img{
    width: 70px;
}
.FormCli button{
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(42, 127, 246);
    font-size: 20px;
    font: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.FormCli button:hover{
    background-color: rgb(42, 161, 246);
    transition: .6s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.dp-menu ul {
    list-style-type: none;
    background-color: rgb(95, 156, 241);
}

.dp-menu ul li {
    display: inline-block;
    position: relative;
}

.dp-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: rgb(27, 112, 232);
}

/*Sub menu*/
.dp-menu ul ul {
    display: none;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li {
    display: inline;
}

.dp-menu ul ul li a {
    display: block;

}