:root {
    --cor-1:rgb(1, 133, 130);
    --cor-2:rgb(75, 193, 212);
    --cor-3:rgb(22, 245, 216);
    --cor-4:rgb(6, 198, 173);
}
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-1);
    display: flex;
}

#cont1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    font-size: 25px;
    color: white;
}

#cont2 {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#card-login {
    transition: 0.6s;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 30vw;
    height: 60vh;
    border-radius: 15px;
    flex-direction: column;
    background-color: var(--cor-2);
    color: white;
    box-shadow: rgba(8, 247, 227, 0.792) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#card-login:hover{
    margin-left: 5px;
    transition: 0.6s;
    width: 31vw;
    height: 61vh;
    box-shadow: rgba(8, 247, 227, 0.792) 0px 22px 38px, rgba(0, 0, 0, 0.22) 0px 20px 12px;
}

#card-login form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

#card-login form input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 0;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 10px 20px, rgba(0, 0, 0, 0.479) 0px 6px 6px;
}
#card-login form button {
    color: white;
    transition: 0.6s;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--cor-4);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 10px 20px, rgba(0, 0, 0, 0.479) 0px 6px 6px;
}
#card-login form button:hover {
    margin-top: 2px;
    transition: 0.6s;
    height: 32px;
    width: 302px;
    box-shadow: rgba(122, 246, 227, 0.757) 0px 20px 30px, rgba(135, 253, 239, 0.819) 0px 10px 10px;
}
#cred{
    margin-top: 110px;
    font-size: 12px;
}
#card-login form h2 {
 margin-bottom: 20px;
}
#imgc{
    width: 700px;
    
}